.NavbarMain {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav-item:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-link {
  display: inline-flex;
}

/* .nav-item {
  display: flex;
  align-items: center;
}

.nav-item:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
} */

@media only screen and (max-width: 600px) {
  /* Extra small devices (phones, 600px and down) */
  .NavbarMain .logo {
    height: 40px;
  }
}

@media only screen and (min-width: 600px) {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  .NavbarMain .logo {
    height: 50px;
  }
}

@media only screen and (min-width: 768px) {
  /* Medium devices (landscape tablets, 768px and up) */
  .NavbarMain .logo {
    height: 50px;
  }

  .nav-link {
    text-align: center;
    margin: 0 20px;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .nav-item:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: unset;
  }
}

@media only screen and (min-width: 992px) {
  /* Large devices (laptops/desktops, 992px and up) */
  .NavbarMain .logo {
    height: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  .NavbarMain .logo {
    height: 60px;
  }
}
