.CarouselFade {
  margin-top: 12vw;
}

.CarouselFade .CarouselFade-slideshow {
  list-style: none;
  padding: 0;
}

.CarouselFade .CarouselFade-img {
  position: absolute;
  width: 100%;
}

.CarouselFade .CarouselFade-slideshow li {
  animation: fade 6s infinite;
}

.CarouselFade .CarouselFade-slideshow li:nth-child(1) {
}
.CarouselFade .CarouselFade-slideshow li:nth-child(2) {
  animation-delay: -4s;
}
.CarouselFade .CarouselFade-slideshow li:nth-child(3) {
  animation-delay: -2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
