.WelcomePage {
  background: white;
  min-height: 100vh;
  margin-bottom: 20px;
}

.WelcomePage-content {
  margin: 30px 10px;
}

.WelcomePage-content .title {
  text-align: center;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7b8d55;
}

.WelcomePage-content .subtitle {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #7b8d55;
}

.WelcomePage-content .text {
  margin-top: 25px;
  font-size: 15px;
}

@media only screen and (min-width: 600px) {
  .WelcomePage-content .title {
    font-size: 4vw;
  }

  .WelcomePage-content .subtitle {
    font-size: 2vw;
  }

  .WelcomePage-content .text {
    font-size: 2vw;
  }
  .WelcomePage-content .column-1 {
    width: 50%;
  }

  .WelcomePage-content .column-2 {
    width: 50%;
    margin-left: 50%;
  }
}
