.News {
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    margin-bottom: 10px;
}

.News-image {
    width: 100%;
}

.News-title {    
    color: #7B8D55;
    margin-bottom: 20px;
}

.News-content {    
    color: rgba(0,0,0,.5);
    margin-bottom: 160px;
}