.QcPreDeparture {
  min-height: 800px;
  margin: 30px 30px;
}

@media only screen and (min-width: 768px) {
  .QcPreDeparture {
    margin: 30px 80px;
  }
}

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
}

.QcPreDeparture-image {
  width: 100%;
}

.QcPreDeparture-title {    
  color: #C54819;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.QcPreDeparture-content {    
  color: rgba(0,0,0,.5);
  font-weight: bold;
  margin-right: 20%;
  margin-bottom: 50px;
}

.QcPreDeparture-content li {
  margin-bottom: 30px;
}